<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/29820f78-b9d7-4230-91b1-31dcaf33b84c/resourcegroups/Linux/providers/Microsoft.Web/sites/ServeMeM220220730030637</ResourceId>
    <ResourceGroup>Linux</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://servemem220220730030637.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cb1f74da-0085-4933-b6bb-482957f8328d</ProjectGuid>
    <PublishUrl>https://servemem220220730030637.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ServeMeM220220730030637</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>